.root {
    -fx-background-image: url("autumn.png");
    -fx-background-repeat: repeat;
    -fx-background-size: cover;
    -fx-background-color: #fac382;
}

#titleLabel {
    -fx-font-size: 40px;
    -fx-font-family: "Georgia";
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}


/* MENUBAR CONTAINER */

.menu-bar {
    -fx-background-color: #2b2b2b;
    -fx-padding: 5px;
    -fx-spacing: 10px;
}

.menu-bar .label {
    -fx-text-fill: white;
}

/* MENU */

.menu:hover {
    -fx-background-color: #555454;
}


/* MENU ITEMS */

.menu-item,
.radio-menu-item {
    -fx-background-color: #ffffff;
}

.menu-item .label {
    -fx-text-fill: #000000;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 12px;
    -fx-padding: 2px 8px;
}

.menu-item:hover {
    -fx-background-color: #cfcfcf;
}

.menu-item:disabled {
    -fx-opacity: 0.6;
    -fx-text-fill: #bdc3c7;
}

.menu-item:focused {
    -fx-background-color: #cfcfcf;
}

#bottomBox {
    -fx-background-color: #2b2b2b;
    -fx-padding: 15px;
}

#showRanksCheckBox {
    -fx-background-color: #ffd27f;
}

#bottomBox Button {
    -fx-background-color: #ffd27f;
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
    -fx-padding: 8px 12px;
    -fx-background-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0.5, 0, 1);
}

#bottomBox Button:hover {
    -fx-background-color: #ffe0a3;
    -fx-cursor: hand;
}

#bottomBox ComboBox {
    -fx-background-color: #ffd27f;
    -fx-text-fill: #222222;
    -fx-font-weight: bold;
    -fx-padding: 8px 12px;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0.5, 0, 1);
}


.placeholder-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.placeholder-instruction {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}